<!DOCTYPE html>
<html>
    <body>
        <div class="about">
            <h1>About</h1>
            <p>This is 1st page</p>
            <a href=page> <!-- this line is for calling python function -->
                <button type="submit" value"VALUE2" name="action">Page</button>
        </div> <!-- bootstrap included -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </body>
</html>
